<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
     <script src="https://unpkg.com/vueperslides"></script>
    <script src="script.js" defer></script>
</head>
<body>

      <div id="app">
        {{ message }}
          {{fetchAPIData()}}
            <br>
          <button type = "button" id = "get-joke" v-for="i in 4" :key="i" @click = "fetchAPIData+i.toString()" v-for="i in 4" :key="i">next</button>

            <div v-if = "responseAvailable == true">

                <hr>
                <p>


                <h3>US Headlines</h3>
                 <div id="imageContainer"></div>
                <br>
                <br>

                </p>
                <hr>

            </div>
      </div>


<script>

var app = new Vue({

         el: '#app',
      data: {

           message: 'Hello Vue!',
           result : [],
          url : ["https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=f0d28a4d90524260bcbe604c73ddce21",
            "https://newsapi.org/v2/top-headlines?country=us&apiKey=f0d28a4d90524260bcbe604c73ddce21",
            "https://newsapi.org/v2/top-headlines?country=de&category=business&apiKey=f0d28a4d90524260bcbe604c73ddce21",
            "https://newsapi.org/v2/top-headlines?q=trump&apiKey=f0d28a4d90524260bcbe604c73ddce21"],

          totalimg : 0,
           ApiKey: "f0d28a4d90524260bcbe604c73ddce21",
           responseAvailable: false,

      },
    methods: {
        fetchAPIData( ) {

            var req = new Request(this.url[0]);



            fetch(req)

                .then(response => {
                if(response.ok){
                    return response.json()
                } else{
                    alert("Server returned " + response.status + " : " + response.statusText);
                }
            })

            .then(response => {
                this.responseAvailable = true;
                this.totalimg = response.totalResults;
                console.log(this.totalimg);

                for (let i = 0; i < response.articles.length; i++) {
                    if (response.articles[i].urlToImage !== null && response.articles[i] !== undefined )
                    {
                        this.result[i] = response.articles[i].urlToImage ;
                    console.log(i,this.result[i]);
                    }
                // //     else {
                //         this.result[i] = response.articles[i].urlToImage ;
                //     console.log(i,this.result[i]);
                //     // }

                }
                     var imgs = this.result;
                    console.log(imgs);
                    var container = document.getElementById("imageContainer");
                    var docFrag = document.createDocumentFragment();
                    imgs.forEach(function (cur, index, arr) {
                        var img = document.createElement('img');
                        img.src = cur;
                        img.style.height = "200px";
                        img.style.width = "200px";
                        img.style.padding = "5px";
                        // img.alt = " ";
                        img.onerror = function() {
                            this.style.display = 'none';
                        }


                        // img.onerror = this.parentNode.removeChild(this);

                        docFrag.appendChild(img);
                    });

                    if ( docFrag != null ) {
                            container.appendChild(docFrag);
                    }



            })


            .catch(err => {
                console.log(err);
            });

            }




        }
    })
</script>


</body>
</html>
