body {
  font-family: Poppins;
  /*background-color: azure;*/
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgba(15, 14, 15, 0.93);
  color: #333;
}
button{
  border-radius: 80px;
}
/*.container {*/
/*  max-width: 1100px;*/
/*  margin: auto;*/
/*  overflow: hidden;*/
/*  padding: 0 2rem;*/
/*  margin-top: 6rem;*/
/*  margin-bottom: 3rem;*/
/*}*/
